.wrapper{
    margin-top: 90px;
    }

.work{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.process-list{
    border: 1px solid white;
    
} 

.first{
    margin-bottom: 50px;
}


.second{
    margin-bottom: 50px;
}


.third{
    margin-bottom: 50px;
}


.fourth{
    margin-bottom: 50px;
}

